body {
  background-color: #ececec;
  color: #3E5165;
  font-family:arial;
  padding-bottom: 40px;
  margin-top: 70px;

}


.zone {
  overflow-y: scroll;
  max-height: 300px;
  margin-top:20px;
  margin-bottom: 20px;
}

.fat {
  font-weight: 100;
}

ul li {
  list-style-type: none;
  margin-bottom:2px ;
  margin: 0;
  padding: 0;
}

#profil ul li:first-child {
  margin-bottom: 10px;
  font-size: 24px;
}
#espace ul,
#content ul {
  margin-left: 20px;
  padding: 0;
}

img.thumbnail{
  margin: 0;
  height: 150px;
  border: 1px silver solid;
  max-width: 200px;
}

#profil {
  border-radius: 6px;
  margin-bottom: 26px;
  padding-bottom: 20px;
  font-size: 14px;
}
.modifier {
  margin-bottom: 20px;


}

.bonjour {
  margin-bottom: 40px;
}



h3 {
  padding-bottom: 10px;
  color: #005F6B;
  font-weight:600;
  font-family: arial narrow;
  border-bottom: 2px #D5DED9 solid;
  border-radius: 4px;
  width: 750px;
  margin-bottom: 20px;
}

.dropdown-toggle {
  font-family: arial narrow;

}
form {
  margin-top:40px;
  margin-bottom: 40px;
}
.pseudo {
  font-weight: 100;
  color: #18A497;
}

.light {
  font-weight: 100;
  color: #286090;
  font-size: 17px;

}

 #espace a:hover {
  text-decoration: none;
}

#veille {
border-radius: 6px;
border: 2px #BDC3C7 solid;
height: 190px;
background-color: #F0F6C6;
margin-bottom: 20px;

}
.subject {
  overflow:hidden;
  max-height: 70px;
  height: 60px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 6px;
}


#veille:hover {
  border: 2px #67809F solid;
  transition: 0.2s;
}


.dark {
  color: #85BEB8;
}

 #content ul {
  margin: 0;
}
.nom{
  color: #4B5F83;
  margin: 0;
  font-size: 18px;
  font-family: arial narrow;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: 600;
}



.error {
  color: red;
  font-size: 15px;

}
.sujet {
  clear: both;
  font-family: arial narrow;
  font-size: 16px;
}
.titre1 {
  color: #005F6B;
  font-weight: 600;
  font-family: arial narrow;
  width: 120px;
  display: inline-block;
}
  .titre {
    color: #005F6B;
    font-weight: 600;
    font-family: arial narrow;
  }

.head {
  text-align: center;
  margin: auto;
}
.id {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px #A9D4C1 solid;
  max-height: 80px;
  height: 80px;
  padding:10px;
  background-color: #CBE6C3;
}

.heure{
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 10px
}

#veille_membre,
#popschoolers {
  border: 1px silver solid;
  padding: 10px;
  margin-bottom: 20px;
  height: 70px;
  border-radius: 5px;
  background-image: url(tree2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
#popschoolers {
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.num {
  font-weight: 600;
  color:#286090;
  text-align: center;
  margin-top: 10px;
}

.sujet_img,
.key_img {
  margin-right: 10px;
}

.go:hover {
  background-image: url(img/go.png);
}
.delete:hover{
  background-image: url(img/delete.png);
}
.update:hover{
  background-image: url(img/update.png);
}
.name {
  margin-top: 10px;
}
.school {
  color: #87D37C;
  font-weight: 600;
}
.contenu {
  border-top: 2px solid silver;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
  padding-top: 10px;
}
.menu {
  color: green;
  font-family: arial narrow;
  font-size: 18px;
}
.menu:hover {
  color: #87D37C;
}
.vote {
  font-weight: 600;
  font-size: 20px;
}

.com1 {
  border-left: 2px solid silver;
  padding-left: 10px;
  margin-bottom: 20px;
  max-height: 70px;
  border-radius: 5px;
}

.key {
  margin: 0;
}
.categorie {
  margin-top: 40px;
  margin-bottom: 20px;
}

.personne {
  max-width:50px;
  max-height: 70px;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
  background-color: #F0F6C6;
  padding: 1px;
  border-radius: 2px;
  border: 1px #85BEB8 solid;
  margin-bottom: 20px;
}
