html body {
  background-color: #f4f2f2;
}
#link, #users {
  text-decoration: none;
  color: #f4f2f2;
}
div .spin {
  text-align: center;
}
#link:hover, #users:hover {
  color: #337ab7;
}
.caret {
  position: relative;
  left: 15%;
}
input {
  width: 100%;
}
input[type=checkbox]{
 margin  : 0;
 padding : 0;
}
#rand:checked ~ .modal-body label {
  background-color: #B496C8;
}
.promo-log {
  margin: 15px 0;
}
.sign {
  position: relative;
  right: 40%;
}
.spin {
  position: relative;
}
h3 {
  margin: auto;
}
.posted {
  margin-top: 15%;
}
#two,#three, #four,#five, #six, #seven  {
  margin-top: 5%;
}
@media screen and (max-width:767px) {
  nav .menu-btn {
    float: none;
    position: relative;
    left: 45%;
    border: none;
  }
}

/*Style Théo*/

#random {
  text-align: center;
}

#random label input {
  position: relative;
  left: 50px;
  top: 20px;
}

#random img {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#bottom-button {
  margin-top: 20px;
  padding: 5px;
}

#firstname {
  margin-top: 240px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #222222;
  color: #F4F2F2;
}

nav li {
  margin: 0 30px 0 30px;
}
/*End Style Théo*/

/*Style camille*/

.watch {
  list-style:none;
  padding: 20px;
}
.watchuser{
  background-color:#222222;
  color:white;
  padding:1%;
  margin-bottom:1%;
}
.watchhead {
  border-radius: 10px;
  background-color:#222222;
  color:white;
  padding:5%;
  margin-bottom:5%;
}

.titlew, .detail,.watchvalue,.profil {
  padding-bottom:4%;
}
.profil {
  padding-bottom:0;
}

.gif {
  width: 50%;
}
.promo {
  width: 20%;
}

.watchtt {
  margin:0;
  font-weight:bold;
}
/*End Style camille*/
